// Sidebar component styles

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	transition: left 0.3s ease-in-out;
	padding: 20px;
	z-index: 9999;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		overflow-y: auto;
	}

	&__list {
		padding: 0;
		list-style: none;
	}

	&__item,
	&__subitem,
	&__subsubitem {
		padding: 8px;
		cursor: pointer;
		font-size: 16px;
		font-weight: normal;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}

	&__sublist,
	&__subsublist {
		padding-left: 20px;
	}

	&__close-btn {
		position: absolute;
		right: 7%;
		top: 1%;
		background: none;
		border: none;
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-top: 20px;

		&:hover {
			color: #f00;
		}
	}
}
